.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.starsWrapper {
  display: flex;
  gap: 3%;
  max-width: 500px;
}

.rating {
  width: 150px;
  border: none;
  border-radius: 0;
  font-size: 40px;
  line-height: 40px;
  text-align: right;
  background-color: transparent;
  color: var(--quaternary-color);
  outline: none;
  padding: 10px;
}

.rating:focus {
  box-shadow: 0 0 0 2px var(--quaternary-color) inset;
}

.star {
  stroke-width: 10px;
  stroke: var(--quaternary-color);
  display: inline-block;
  fill: transparent;
}

.starFilled {
  fill: var(--quaternary-color);
}

.starGradient {
  fill: url(#grad);
}

.gradientStart {
  stop-color: var(--quaternary-color);
  stop-opacity: 1;
}

.gradientEnd {
  stop-color: transparent;
  stop-opacity: 1;
}
