.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%;
  min-height: 100%; */
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  /* background: var(--tertiary-color-light);
  background: linear-gradient(
    0deg,
    var(--tertiary-color-light) 0%,
    var(--tertiary-color) 75%,
    var(--tertiary-color-high) 100%
  ); */

  /* padding: 10px; */
}

.contact {
  background: var(--tertiary-color-light);
  background: linear-gradient(
    0deg,
    var(--tertiary-color-light) 0%,
    var(--tertiary-color) 75%,
    var(--tertiary-color-high) 100%
  );
}

@media (min-width: 576px) {
  .container {
    padding: 10px 20px;
  }
  .contact {
    min-width: 450px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 20px 40px;
    gap: 20px;
  }

  .contact {
    max-width: 45%;
    height: 100%;

    flex-grow: 1;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 30px 60px;
    gap: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 40px 80px;
    gap: 40px;
  }
}
