.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  flex-grow: 1;
  background: var(--tertiary-color-light);
  background: linear-gradient(
    0deg,
    var(--tertiary-color-light) 0%,
    var(--tertiary-color) 25%,
    var(--tertiary-color-high) 100%
  );
  border-radius: 5px;
}

.contact {
  background: var(--tertiary-color-high);
  background: linear-gradient(
    0deg,
    var(--tertiary-color-high) 0%,
    var(--tertiary-color) 25%,
    var(--tertiary-color-light) 100%
  );
  align-items: flex-start;
}

@media (min-width: 576px) {
  .container {
    padding: 10px 20px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 20px 40px;
    gap: 20px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 30px 60px;
    gap: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 40px 80px;
    gap: 40px;
  }
}
