.headerForm {
  padding: 0;
  align-items: flex-start;
}

.contactForm,
.formGroup {
  padding: 0;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
  max-width: 100%;
}

.inputAndButtonPhotosWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  flex-grow: 1;
  gap: 5px;
}

.label {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 25px;
}

.label::before {
  content: '';
  display: inline-block;

  background-size: contain; /* Ajustez la taille de l'image pour qu'elle s'adapte à la boîte */
  background-repeat: no-repeat; /* Assurez-vous que l'image ne se répète pas */
  background-position: center; /* Centrez l'image dans la boîte */
}

.labelName::before {
  background-image: url('/assets/user.svg');
  width: 25px;
  height: 20px;
}

.labelMail svg {
  color: var(--primary-color);
}

.labelMail::before {
  background-image: url('/assets/mail.svg');
  width: 25px;
  height: 20px;
}

.labelPhone::before {
  background-image: url('/assets/phone.svg');
  width: 25px;
  height: 25px;
}

.labelMessage::before {
  background-image: url('/assets/message.svg');
  width: 25px;
  height: 25px;
}

.labelPhotos::before {
  background-image: url('/assets/photos.svg');
  width: 25px;
  height: 25px;
}

.input {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.input:focus {
  border: 2px solid var(--primary-color); /* Changez la couleur et l'épaisseur de la bordure selon vos préférences */
  outline: none; /* Supprime l'outline par défaut de certains navigateurs */
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  color: var(--primary-color-high);
}

.textArea {
  width: 100%;
  height: 150px;
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.textArea:focus {
  border: 2px solid var(--primary-color); /* Changez la couleur et l'épaisseur de la bordure selon vos préférences */
  outline: none; /* Supprime l'outline par défaut de certains navigateurs */
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  color: var(--primary-color-high);
}

.error {
  color: var(--alertColor);
  height: 12px;
}

.visuallyHidden {
  display: none;
}
/* 
.customFileUpload {
  padding: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
} */

.imagesPreviewsWrapper {
  display: flex;
  max-width: 100%;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: initial;
}

.imagePreviewCard {
  display: flex;
  border: 1px solid var(--primary-color);
  padding: 10px;
  /* width: 100%; */
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
}

.imagePreviewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imagePreviewName {
  width: 100%;
  padding-bottom: 10px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imagePreview {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.buttonDeleteWrapper {
  display: flex;
  align-items: center;
  /* padding-top: 10px; */
  gap: 5px;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  width: min-content;
}

.buttonDeleteWrapper:hover {
  cursor: pointer;
  color: var(--alertColor);
}

.buttonPhotos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 20px 20px;
  cursor: pointer;

  position: relative;
  flex-shrink: 1;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  outline: 1px solid var(--primary-color);

  overflow: hidden;

  text-wrap: wrap;

  gap: 15px;
  overflow-y: auto;
}

.buttonPhotos:hover:not(.no-hover) {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  outline: 2px solid var(--primary-color);
}

.labelPhotosTextWrapper {
  display: flex;

  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  text-align: center;
}

.justifyContentNone {
  justify-content: flex-start;
}

.addPhotosText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.addPhotosText:after {
  content: '';
  background: url('/assets/photos.svg') no-repeat center center;
  background-size: contain;
  width: 25px;
  height: 25px;
  min-height: 25px;
}

.no-hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  outline: 1px solid var(--primary-color);
}

.imagePreviewCard:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  outline: 1px solid var(--alertColor);
}

.imagePreviewContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errorOutline {
  border: 2px solid var(--alertColor);
}

@media (min-width: 768px) {
  .inputAndButtonPhotosWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
