.homeImageAndAsideWrapper {
  display: flex;
  flex-direction: column;

  /* min-height: 100%; */
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}

@media (min-width: 576px) {
  .homeImageAndAsideWrapper {
    flex-direction: row;
    width: 100%;
  }
}
