.homeAside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  gap: 10px;
  text-wrap: nowrap;
}

.homeAsideTitleWrapper {
  color: var(--primary-color);
  text-shadow: 1.5px 0 var(--secondary-color);
  font-family: 'BirdsOfParadise', sans-serif;
  height: 44px;
}

.homeAsideTitleWrapper h2 {
  font-size: var(--titre-576px);
  font-weight: 100;
}

.homeAsideTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: 576px) {
  .homeAside {
    width: fit-content;
    padding: 0 5%;
  }
}
