.radioButton {
  padding: 10px;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.radioButtonActive {
  background-color: var(--primary-color);

  border: 1px solid var(--secondary-color);
}
