* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset pour les boutons */
button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  background: none;
  border: none;
  overflow: visible;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none; /* Supprimer le style par défaut dans WebKit */
  -moz-appearance: none; /* Supprimer le style par défaut dans Firefox */
  appearance: none; /* Supprimer le style par défaut dans les navigateurs qui le supportent */
}

@font-face {
  font-family: 'BirdsOfParadise';
  src: url('/fonts/birdsOfParadise.ttf') format('truetype');
}

:root {
  --primary-color: #ff8739;
  --secondary-color: #1d1d1d;
  --tertiary-color: #fdfdfd;
  --backgroundHeader: rgba(29, 29, 29, 0.75);
}

h1 {
  font-family: 'BirdsOfParadise', sans-serif;
}
