* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset pour les boutons */
button,
a,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  background: none;
  border: none;
  overflow: visible;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none; /* Supprimer le style par défaut dans WebKit */
  -moz-appearance: none; /* Supprimer le style par défaut dans Firefox */
  appearance: none; /* Supprimer le style par défaut dans les navigateurs qui le supportent */
  text-decoration: none;
}

@font-face {
  font-family: 'BirdsOfParadise';
  src: url('/fonts/birdsOfParadise.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
}

:root {
  --primary-color: #ff8739;
  --secondary-color: #1d1d1d;
  --secondary-color-light: rgba(30, 30, 30, 0.86);
  --tertiary-color: #fdfdfd;
  --backgroundHeader: rgba(29, 29, 29, 0.86);

  --titre-576px: 3rem;
  --sousTitre-576px: 1.2rem;
  --text-576px: 0.875rem;
  --textFooter-576px: 0.625rem;

  --titre-768px: 4rem;

  --titre-992px: 6rem;

  --titre-1200px: 8rem;

  --preHeaderHeight: 1.5rem;
  --headerHeight: 3.75rem;
}

.headerContentFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

h1 {
  font-family: 'BirdsOfParadise', sans-serif;
}

#main {
  background: var(--tertiary-color);
}

@media (min-width: 992px) {
  .ReactModal__Overlay {
    display: none;
  }
}
