@import '~react-image-gallery/styles/css/image-gallery.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset pour les boutons */
button,
a,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  background: none;
  border: none;
  overflow: visible;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none; /* Supprimer le style par défaut dans WebKit */
  -moz-appearance: none; /* Supprimer le style par défaut dans Firefox */
  appearance: none; /* Supprimer le style par défaut dans les navigateurs qui le supportent */
  text-decoration: none;
}

:root {
  --primary-color: #e67f2a;
  --primary-color-light: rgb(255, 153, 77);
  --primary-color-high: rgb(208, 94, 0);
  --secondary-color: rgb(30, 30, 30);
  --secondary-color-light: rgb(15, 15, 15);
  --secondary-color-high: rgb(45, 45, 45);
  --tertiary-color: rgb(245, 245, 245);
  --tertiary-color-light: rgb(250, 250, 250);
  --tertiary-color-high: rgb(240, 240, 240);
  --quaternary-color: #fbbc04;
  --backgroundHeader: rgba(30, 30, 30, 0.86);
  --alertColor: #dc143c;

  --titre-576px: 3rem;
  --sousTitre-576px: 1.2rem;
  --text-576px: 0.875rem;
  --textBold-576px: 1rem;
  --textFooter-576px: 0.625rem;

  --titre-768px: 4rem;
  --sous-titre-768px: 1.2rem;
  --text-768px: 15px;
  --textBold-768px: 1.125rem;
  --textFooter-768px: 0.6875rem;

  --titre-992px: 6rem;
  --sous-titre-992px: 1.3rem;
  --text-992px: 1rem;
  --textBold-992px: 1.125rem;
  --textFooter-992px: 0.75rem;

  --titre-1200px: 7rem;
  --sous-titre-1200px: 1.5rem;
  --text-1200px: 1.125rem;
  --textBold-1200px: 1.25rem;
  --textFooter-1200px: 0.8125rem;

  --preHeaderHeight: 1.5rem;
  --headerHeight: 3.75rem;
}

/* body {
  font-family: var(--inter-font), sans-serif;
} */

.primaryColor {
  color: var(--primary-color);
}

.titre {
  font-size: var(--titre-576px);
  font-family: var(--local-font), sans-serif;
  font-weight: 100;
}
.sousTitre {
  font-size: var(--sousTitre-576px);
  font-family: var(--inter-font), sans-serif;
}
.text {
  font-size: var(--text-576px);
  font-family: var(--inter-font), sans-serif;
}
.textBold {
  font-size: var(--textBold-576px);
  font-weight: bold;
  font-family: var(--inter-font), sans-serif;
}
.textFooter {
  font-size: var(--textFooter-576px);
  font-family: var(--inter-font), sans-serif;
}

.sectionContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

/* .sectionContent img {
  max-width: 950px;
} */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1.5px solid var(--primary-color);
  text-wrap: balance;
  padding: 20px;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.link:hover {
  color: var(--primary-color);

  transition: all 0.3s ease-in-out;
}

@media (min-width: 576px) {
  .titre {
    font-size: var(--titre-768px);
  }
  .sousTitre {
    font-size: var(--sous-titre-768px);
  }
  .text {
    font-size: var(--text-768px);
  }
  .textBold {
    font-size: var(--text-768px);
    font-weight: bold;
  }
  .button {
    padding: 10px 20px;
  }
  .textFooter {
    font-size: var(--textFooter-768px);
  }

  .card {
    padding: 25px;
    max-width: 48%;
  }
}
@media (min-width: 768px) {
  .titre {
    font-size: var(--titre-992px);
  }
  .sousTitre {
    font-size: var(--sous-titre-992px);
  }
  .text {
    font-size: var(--text-992px);
  }
  .textBold {
    font-size: var(--text-992px);
    font-weight: bold;
  }
  .textFooter {
    font-size: var(--textFooter-992px);
  }
  .button {
    padding: 20px 30px;
  }
  .section,
  .sectionContent {
    padding: 20px 0;
    gap: 20px;
  }

  .sectionContent {
    padding: 0 20px;
  }

  .card {
    padding: 25px;
    max-width: 48%;
  }
}
@media (min-width: 992px) {
  .titre {
    font-size: var(--titre-1200px);
  }
  .sousTitre {
    font-size: var(--sous-titre-1200px);
  }
  .text {
    font-size: var(--text-1200px);
  }
  .textBold {
    font-size: var(--text-1200px);
    font-weight: bold;
  }
  .textFooter {
    font-size: var(--textFooter-1200px);
  }
  .section,
  .sectionContent {
    padding: 30px 0;
    gap: 30px;
  }

  .sectionContent {
    padding: 0 30px;
  }

  .card {
    padding: 30px;
  }
}

@media (min-width: 1200px) {
  .section,
  .sectionContent {
    padding: 40px 0;
    gap: 40px;
  }

  .sectionContent {
    padding: 0 40px;
  }

  .card {
    max-width: 30%;
  }
}

.headerContentFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

/* #main {
  background: var(--tertiary-color);
} */

@media (min-width: 992px) {
  .ReactModal__Overlay {
    display: none;
  }
}

.image-gallery-slide .image-gallery-image {
  width: 99%;
  max-height: 90vh;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}

/* ***************** Image Gallery ***************** */
.image-gallery-slides {
  border-radius: 5px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid var(--primary-color);
  border-radius: 5px;
}

.image-gallery-thumbnail:hover {
  outline: none;
  border: 4px solid var(--primary-color-high);
  border-radius: 5px;
}
