.sectionHome {
  height: calc(100svh - (var(--headerHeight) + var(--preHeaderHeight)));
  padding-bottom: 0;
  padding: 0;
  gap: 0;
}

.sectionContentHome {
  height: 100%;
  max-height: 100%;
  padding: 0;
  justify-content: flex-start;
}

.sectionContentHome p {
  width: 100%;
}

.homeText {
  padding: 0 10px;
}

.homeImageAndAsideWrapper {
  display: flex;
  flex-direction: column;

  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

.infosContacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  padding: 20px;
  border: 1px solid var(--primary-color);
  max-width: 100%;
}

.map {
  border: 1px solid var(--primary-color);
  max-width: 100%;
}

.newService {
  display: flex;
}

.newServiceContent {
  display: flex;
  flex-direction: column;

  padding: 5%;
  justify-content: space-around;
  max-width: 50%;
}

.newSectionTitle {
  color: var(--primary-color);
  text-shadow: 2px 0px var(--secondary-color);
}

.newServicePhoto {
  min-width: 50%;
}

.newServiceImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 576px) {
  .sectionContentHome {
    padding: inherit;
  }
  .homeText {
    padding: 0 15px;
  }
  .homeImageAndAsideWrapper {
    flex-direction: row;
    width: 100%;
  }
}

@media (max-height: 550px) {
  .sectionHome {
    padding: 0;
  }
  .sectionContentHome {
    padding: 0 15px;
    gap: 0;
  }
  .none {
    display: none;
  }
}
