.navDesktop {
  display: none;
}

.navMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  color: var(--secondary-color);
  font-size: var(--text-576px);
  transition: all 0.3s ease-in-out;
  font-family: 'Inter', sans-serif;
  height: 30px;
  font-weight: 700;
}

.activeLink {
  color: var(--primary-color);
}

.lineUp {
  position: absolute;
  top: -5px;
  width: 100%;
  transform: rotate(180deg);
}

.lineBottom {
  position: absolute;
  bottom: -5px;
  width: 100%;
}

@media (max-height: 550px) {
  .lineUp,
  .lineBottom {
    display: none;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  width: 1.875rem;
}

.bar {
  display: block;
  background-color: var(--primary-color);

  height: 4px;
  width: 100%;
  border-radius: 5px;
  /* filter: drop-shadow(1px 1px 0px #fdfdfd); */
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.barOpenOne {
  transform: rotate(45deg) translateY(12px);
}

.barOpenTwo {
  opacity: 0;
}

.barOpenThree {
  transform: rotate(-45deg) translateY(-11px);
}

.linkTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) {
  .burger,
  .modal {
    display: none;
  }
  .navDesktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5%;
  }
  .link {
    color: var(--tertiary-color);
  }

  .link:hover {
    color: var(--primary-color);
  }

  .activeLink {
    color: var(--primary-color);
    font-weight: 900;
    /* text-shadow: 2px 0px var(--secondary-color); */
  }

  .activeLink:hover {
    color: var(--primary-color);
  }

  .linkText {
    width: fit-content;
  }
}
