.card {
  display: flex;
  flex-direction: column;
  border: 1.5px solid var(--primary-color);
  text-wrap: balance;
  padding: 30px 20px;
  gap: 10px;
}

.cardButton {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 100%;
  width: 100%;
  text-align: left;
}

.cardTitle {
  display: flex;
  gap: 0.9375rem;
  font-family: 'Inter', sans-serif;
  font-size: var(--sousTitre-576px);
}
.portiere {
  background-image: url('/assets/portiere.svg');
}
.peinture {
  background-image: url('/assets/peinture.svg');
}
.windshield {
  background-image: url('/assets/windshield.svg');
}
.franchise {
  background-image: url('/assets/franchise.svg');
}
.cars {
  background-image: url('/assets/cars.svg');
}

.cardTitleIcon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 30px;
  width: 30px;
}

.cardText {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.cardTextExpanded {
  display: flex;
  /* transition: all 0.3s ease-in-out; */
}

.seeAllWrapper {
  display: flex;
  font-size: var(--textFooter-576px);
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.arrow {
  background-image: url('/assets/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 23px;
  height: 10px;
  transition: all 0.3s ease-in-out;
}

.arrowReverse {
  transform: rotateX(180deg);
}

.imageGallery {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.imageGalleryExpanded {
  transition: all 0.3s ease-in-out;
}
