.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1.5px solid var(--primary-color);
  text-wrap: balance;
  padding: 20px;
  gap: 10px;
  height: 100%;
}

.cardButton {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: left;
}

.cardTitle {
  display: flex;
  gap: 0.9375rem;
  font-family: 'Inter', sans-serif;
  font-size: var(--sousTitre-576px);
}
.portiere {
  background-image: url('/assets/portiere.svg');
}
.peinture {
  background-image: url('/assets/peinture.svg');
}
.windshield {
  background-image: url('/assets/windshield.svg');
}
.franchise {
  background-image: url('/assets/franchise.svg');
}
.cars {
  background-image: url('/assets/cars.svg');
}

.cardTitleIcon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 30px;
  width: 30px;
}

.cardTitleText {
  display: flex;

  font-size: var(--sousTitre-576px);
  min-height: 48px;
  align-items: center;
}

.cardText {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  font-size: var(--text-576px);
}

.cardTextExpanded {
  display: flex;
  /* transition: all 0.3s ease-in-out; */
}

.seeAllWrapper {
  display: flex;
  font-size: var(--textFooter-576px);
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.arrow {
  background-image: url('/assets/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 23px;
  height: 10px;
  transition: all 0.3s ease-in-out;
}

.arrowReverse {
  transform: rotateX(180deg);
}

.imageGallery {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  /* height: 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageGalleryExpanded {
  transition: all 0.3s ease-in-out;
  /* height: 136px; */
}

/* .imageGalleryExpanded {
  transition: all 0.3s ease-in-out;
} */

@media (min-width: 576px) {
  .card {
    padding: 25px;
    max-width: 48%;
  }
  .cardTitleIcon {
    min-width: 35px;
  }

  .cardTitleText {
    font-size: var(--sous-titre-768px);
  }

  .cardText {
    font-size: var(--text-768px);
  }

  .seeAllWrapper {
    font-size: var(--textFooter-768px);
  }

  .arrow {
    width: 30px;
    height: 13px;
  }
}

@media (min-width: 768px) {
  .card {
    padding: 25px;
    max-width: 48%;
  }
  .cardTitleIcon {
    min-width: 35px;
  }

  .cardTitleText {
    font-size: var(--sous-titre-992px);
  }

  .cardText {
    font-size: var(--text-992px);
  }

  .seeAllWrapper {
    font-size: var(--textFooter-992px);
  }

  .arrow {
    width: 30px;
    height: 13px;
  }
}

@media (min-width: 992px) {
  .card {
    padding: 30px;
  }
  .cardTitleIcon {
    min-width: 40px;
  }

  .cardTitleText {
    font-size: var(--sous-titre-1200px);
  }

  .cardText {
    font-size: var(--text-1200px);
  }

  .seeAllWrapper {
    font-size: var(--textFooter-1200px);
  }

  .arrow {
    width: 30px;
    height: 13px;
  }
}

@media (min-width: 1200px) {
  .card {
    max-width: 30%;
  }
  .cardTitleIcon {
    min-width: 45px;
  }

  .cardTitleText {
    font-size: var(--sous-titre-1200px);
  }

  .cardText {
    font-size: var(--text-1200px);
  }

  .seeAllWrapper {
    font-size: var(--textFooter-1200px);
  }

  .arrow {
    width: 30px;
    height: 13px;
  }
}
