.section {
  display: flex;
  flex-direction: column;
  width: 100%;

  min-height: calc(100svh - (var(--headerHeight) + var(--preHeaderHeight)));

  max-width: 1920px;
  background: var(--tertiary-color-high);
  background: linear-gradient(
    0deg,
    var(--tertiary-color-high) 0%,
    var(--tertiary-color) 25%,
    var(--tertiary-color-light) 100%
  );
}

.sectionHome {
  padding: 0;
  background: var(--tertiary-color);
}

.sectionServices {
  min-height: calc(100svh - (var(--headerHeight)));
}
