.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  flex-grow: 1;
  gap: 10px;
}

.error {
  color: var(--alertColor);
  font-family: var(--inter-font);
}

.galleryWrapper {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  flex-grow: 1;
}

.gallery .image-gallery {
  flex-grow: 1;
}

.gallery img {
  object-fit: cover;
  border-radius: 5px;

  height: 100%;
}

.galleryWrapper button {
  color: var(--primary-color);
}

.galleryWrapper button:hover {
  color: var(--primary-color-high);
}

/* .galleryWrapper nav button {
  border: 4px solid var(--primary-color) !important;
  border-radius: 5px;
} */

@media (min-width: 576px) {
  .gallery {
    gap: 15px;
  }
  .galleryWrapper {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .gallery {
    gap: 20px;
  }
  .galleryWrapper {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .gallery {
    gap: 25px;
  }
  .galleryWrapper {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .gallery {
    gap: 30px;
  }
  .galleryWrapper {
    width: 40%;
  }
}
