.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  flex-grow: 1;
}

.galleryWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  flex-grow: 1;
}

.gallery .image-gallery {
  flex-grow: 1;
}

.gallery img {
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  .galleryWrapper {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .galleryWrapper {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .galleryWrapper {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .galleryWrapper {
    width: 40%;
  }
}
