.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
  background: var(--tertiary-color-high);
  background: linear-gradient(
    0deg,
    var(--tertiary-color-high) 0%,
    var(--tertiary-color) 25%,
    var(--tertiary-color-light) 100%
  );
  padding: 20px;
  border-radius: 5px;
  gap: 15px;
  width: 100%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid var(--primary-color);
}

.map {
  width: 100%;

  flex-grow: 1;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  height: 385px;
}

@media (min-width: 576px) {
  .container {
    padding: 25px;
  }
  .map {
    height: 404px;
  }
}

@media (min-width: 768px) {
  .map {
    height: 413px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 30px;
  }

  .map {
    height: 441px;
  }
}
