.sectionHeader {
  display: none;
  width: 100%;
}

.leftWideBand {
  -webkit-clip-path: polygon(0 15%, 100% 100%, 30% 100%, 0 50%);
  clip-path: polygon(0 15%, 100% 100%, 30% 100%, 0 50%);
  background: var(--primary-color);

  width: 100%;

  position: relative;
}

.leftThinBand {
  -webkit-clip-path: polygon(0 37%, 43% 100%, 40% 100%, 0 40%);
  clip-path: polygon(0 37%, 43% 100%, 40% 100%, 0 40%);
  background: var(--tertiary-color);
  height: 100%;
  width: 100%;
  position: absolute;
}

.rightWideBand {
  -webkit-clip-path: polygon(100% 50%, 100% 70%, 70% 100%, 0 100%);
  clip-path: polygon(100% 50%, 100% 70%, 70% 100%, 0 100%);
  background: var(--primary-color);

  width: 100%;
  position: relative;
}

.rightThinBand {
  -webkit-clip-path: polygon(100% 63%, 100% 65%, 64% 100%, 60% 100%);
  clip-path: polygon(100% 63%, 100% 65%, 64% 100%, 60% 100%);
  background: var(--tertiary-color);
  height: 100%;
  width: 100%;
  position: absolute;
}

.sectionTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'BirdsOfParadise', sans-serif;
  font-weight: 100;
  font-size: var(--titre-576px);
  text-shadow: 2px 0px var(--primary-color);
  text-wrap: nowrap;
  min-width: 163px;
  z-index: 0;
}

@media (min-width: 576px) {
  .sectionHeader {
    display: flex;
    padding-top: 20px;
  }
  .sectionTitle {
    font-size: var(--titre-768px);
  }
}

@media (min-width: 768px) {
  .sectionHeader {
    padding-top: 30px;
  }
  .sectionTitle {
    font-size: var(--titre-992px);
    min-width: 197px;
  }
}

@media (min-width: 992px) {
  .sectionHeader {
    padding-top: 35px;
  }
  .sectionTitle {
    font-size: var(--titre-1200px);
    min-width: 260px;
  }
}

@media (min-width: 1200px) {
  .sectionTitle {
    min-width: 345px;
  }
}

@media (max-height: 550px) {
  .sectionTitle {
    display: none;
  }
}
